.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(70, 85, 251); 
}

.login-wrapper {
    width: 24rem;
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
}

.login-wrapper h1 {
    text-align: center;
}

.input-box {
    background-color: transparent;
    margin-top: 2rem;
    width: 100%;
}

.input-box p {
    color: gray;
}

.input-box input {
    box-sizing: border-box;
    border: 1px solid;
    border-color: rgb(186, 185, 185);
    border-radius: 10px;
    margin-top: 0.2rem;
    padding: 1.2rem;
    font-size: 1rem;
    width: 100%;
}

.input-box input::placeholder {
    font-size: 16px;
}

.login-wrapper button {
    margin-top: 2rem;
    background: rgb(70, 85, 251);   
    color: white;
    padding: 0.7rem;
    width: 100%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
}

.login-wrapper .buttons p {
    margin-top: 1rem;
    text-align: center;
    color: gray;
}

.buttons button:hover {
    background: rgb(35, 54, 253);
    cursor: pointer;
}


.buttons p:hover {
    color: blue;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .wrapper {
        width: 15.5rem;
    }
} 